<footer>
	<div class="container columns">
		<div class="column is-hidden-mobile is-half footer_bg">
		</div>
		<div class="column is-mobile is-one-quarter">
			<h4>Sections</h4>
			<a href="/">Home</a><br />
			<a href="/skills/">Skills</a><br />
			<a href="/portfolio/">Portfolio</a><br />
			<a href="/blog/">Blog</a><br />
			<a href="/contact/">Contact</a>
		</div>
		<div class="column is-mobile is-one-quarter">
			<h4>Social Media</h4>
			<a href="http://ca.linkedin.com/in/roikle" target="_blank"><i class="fab fa-linkedin fa-2x"></i> LinkedIn</a><br />
			<a href="https://github.com/boikle" target="_blank"><i class="fab fa-github fa-2x"></i> GitHub</a><br />
			<a href="https://kaggle.com/boikle" target="_blank"><i class="fab fa-kaggle fa-2x"></i> Kaggle</a><br />
		</div>
	</div>
</footer>
